html{
	color:#333;
	font-size:16px;
}

body{
	font-family:helvetica;
	width:640px;
	padding:20px;
	margin:auto;
}

.modal{
	text-align:center;
}

a{
	color:#24a5ff;
	text-shadow:0px 1px 0px #ddd;
}
a:active{
	position:relative;
	top:1px;
	text-shadow:0px 0px 0px #fff;
}

.lcol{
	width:190px;
	float:left;
}
.rcol{
	width:430px;
	float:left;
	padding-left:9px;
	border-left:1px solid #ddd;
}

IMG{
	-webkit-box-shadow:0px 2px 3px #ccc;
}

.profileimage{
	width:180px;
	height:220px;
}

.utilities{
	height:16px;
	float:right;
	text-align:right;
}

.x{
	font-size:14px;
	text-transform:uppercase;
	font-weight:normal;
	-webkit-border-radius:20px;
	padding:1px 6px 3px 6px;
	height:10px;
	width:10px;
	background:#ddd;
	text-shadow:0px 01px 1px #fff;
	-webkit-box-shadow:0px -1px 1px #ccc;
	color:red;
	text-decoration:none;
}

.friendname{
	margin-top:-40px;
	font-size:18px;
	text-decoration:none;
	font-weight:bold;
}

label{
	padding-right:10px;
}
input{
	padding:2px;
}

li{
	list-style:none;
}
textarea{
	width:420px;
}