<h1> People on the SocialNetwork </h1>
<% @users.each do |user| %>
  <% unless  user == current_user %>
    <p> <%= image_tag user.picture.url(:small) %>
    <%= link_to "#{user.first_name} #{user.last_name}", user_path(user)%></p>
  <% end %>
<% end %>
